.intro {
  padding-left: 27%;
  padding-top: 20%;
  color: whitesmoke
}

.job {
  color: brown;
}

.left {
  display: grid;
  width: 700px;
}

.Home {
  display: flex;
  background-color: rgb(29, 29, 29);
  width: auto;
  height: 947px;
}

.right {
  background-color: white;
}